@page "/"

<PageTitle>NetStone API - Lodestone API and Cache</PageTitle>

<div class="container">
    <h1>NetStone API</h1>

    <h2>The API Square never made.</h2>

    <div id="buttons">
        <a href="demo">
            <button class="btn-primary">Try it out!</button>
        </a>
        <a href="swagger">
            <button class="btn-secondary">Swagger UI</button>
        </a>
        <a href="swagger/v3/swagger.json">
            <button class="btn-secondary">OpenAPI Spec</button>
        </a>
        <a href="https://wiki.tawmy.net/books/netstone-api/page/changelog">
            <button class="btn-secondary">Changelog</button>
        </a>
    </div>

    <div id="description">
        NetStone API and its SDK tie the Lodestone and projects together. The chain consists of four parts:
    </div>

    <div id="parts">
        @{
            var loopIndexParts = 0;

            foreach (var (part, index) in Parts.Select((x, i) => (x, i)))
            {
                if (index != 0)
                {
                    <div class="arrow" style="animation-delay: @(loopIndexParts * AnimationDelay)ms"></div>
                    loopIndexParts++;
                }

                <div class="part" style="animation-delay: @(loopIndexParts * AnimationDelay)ms">
                    @if (part.TitleUrl is not null)
                    {
                        <a class="title" href="@part.TitleUrl" target="_blank">@part.Title</a>
                    }
                    else
                    {
                        <div class="title">@part.Title</div>
                    }
                    <div class="description">@part.Description</div>
                    <a class="author" href="@part.AuthorUrl" target="_blank">@part.Author</a>
                </div>

                loopIndexParts++;
            }
        }

    </div>

    <h2>Why use NetStone API?</h2>

    <div id="reasons">
        @foreach (var (reason, index) in Reasons.Select((x, i) => (x, i)))
        {
            <div class="reason" style="animation-delay: @(index * AnimationDelay * 2)ms">
                <div class="title">@reason.Title</div>
                <div class="description">@reason.Description</div>
            </div>
        }
    </div>
</div>